absl-py==2.0.0
addict==2.4.0
aiohttp==3.8.6
aiosignal==1.3.1
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
antlr4-python3-runtime==4.9.3
async-timeout==4.0.3
attrs==23.1.0
-e git+https://github.com/Megvii-BaseDetection/BEVDepth.git@d78c7b58b10b9ada940462ba83ab24d99cae5833#egg=BEVDepth
black==23.10.1
cachetools==5.3.2
certifi==2022.12.7
charset-normalizer==3.3.2
click==8.1.7
cmake==3.25.0
contourpy==1.1.1
crcmod==1.7
cuda-python==12.3.0
cycler==0.12.1
decorator==5.1.1
descartes==1.1.0
einops==0.7.0
exceptiongroup==1.1.3
filelock==3.9.0
fire==0.5.0
flake8==6.1.0
fonttools==4.44.0
frozenlist==1.4.0
fsspec==2023.10.0
ftfy==6.1.1
future==0.18.3
google-auth==2.23.4
google-auth-oauthlib==1.0.0
grpcio==1.59.2
huggingface-hub==0.17.3
idna==3.4
imageio==2.32.0
importlib-metadata==6.8.0
importlib-resources==6.1.1
iniconfig==2.0.0
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.2
kiwisolver==1.4.5
lightning-utilities==0.9.0
lit==15.0.7
llvmlite==0.36.0
lyft-dataset-sdk==0.0.8
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.5.3
mccabe==0.7.0
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
mmcls==0.25.0
mmcv-full==1.7.0
mmdet==2.26.0
mmdet3d==1.0.0rc4
mmengine==0.10.1
mmsegmentation==0.30.0
model-index==0.1.11
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
networkx==2.2
numba==0.53.0
numpy==1.23.5
nuscenes-devkit==1.1.11
nvidia-ml-py==12.535.133
nvitop==1.3.1
oauthlib==3.2.2
omegaconf==2.3.0
open-clip-torch==2.23.0
opencv-python==4.8.1.78
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.28
ordered-set==4.1.0
oss2==2.17.0
packaging==23.2
pandas==2.0.3
pathspec==0.11.2
Pillow==9.3.0
platformdirs==4.0.0
plotly==5.18.0
pluggy==1.3.0
plyfile==1.0.1
prettytable==3.9.0
protobuf==4.25.0
psutil==5.9.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycocotools==2.0.7
pycodestyle==2.11.1
pycryptodome==3.19.0
pyDeprecate==0.3.1
pyflakes==3.1.0
Pygments==2.16.1
pyparsing==3.1.1
pyquaternion==0.9.9
pytest==7.4.3
python-dateutil==2.8.2
pytorch-lightning==1.6.0
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
regex==2023.10.3
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.4.2
rsa==4.9
safetensors==0.4.0
scikit-image==0.19.3
scikit-learn==1.3.2
scipy==1.10.1
sentencepiece==0.1.99
shapely==2.0.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
termcolor==2.3.0
terminaltables==3.1.10
threadpoolctl==3.2.0
tifffile==2023.7.10
timm==0.9.10
tokenizers==0.14.1
tomli==2.0.1
torch==2.0.0+cu118
torchaudio==2.0.1+cu118
torchmetrics==1.2.0
torchvision==0.15.1+cu118
tqdm==4.65.2
transformers==4.35.0
trimesh==2.35.39
triton==2.0.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.13
wcwidth==0.2.9
Werkzeug==3.0.1
yapf==0.40.2
yarl==1.9.2
zipp==3.17.0
